<strong>Compromisso Agendado</strong>

<p>Um compromisso foi compartilhado com você por {{username}}</p>

<p>{{event.title}}</p>
<p>local: {{event.localization}}</p>
<p>data: {{event.date}}</p>
<p>hora: {{event.time}}</p>
